.containerCard{
    height: 100%;
    min-height: 95vh;
    width:100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    padding: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);

    & .col1, .col2{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & img{
            height: 100%;
            width: 90%;
            object-fit: cover;
        }
    }

    .col1{
        position: absolute;
        left: 0%;
    }

    .col2{
        position: absolute;
        left: 50%;
        /* border-top-right-radius: 16px;
        border-bottom-right-radius: 16px; */
    }


    .imgWrapper{
        max-height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
       

    & h1{
        font-size: 7vw;
        text-align: center;
        text-transform: uppercase;
        color: #111;
        letter-spacing: -0.2vw;
    }

    & h3{
        font-size: 3vw;
        text-align: center;
        text-transform: uppercase;
        color: #3d3a3a;
        margin-bottom: 10%;
    }
}

.containerCard:nth-of-type(1){
    background-color: rgb(203, 221, 222);
}

.containerCard:nth-of-type(2){
    background-color: rgb(232, 232, 187);
    h1{
        font-size: 6.2vw;
    }

}

.containerCard:nth-of-type(3){
    background-color: rgb(178, 196, 223);  

    /* & .imgWrapper{
        padding: 30px;
    } */
}

.containerCard:nth-of-type(4){
    background-color: rgb(182, 144, 208);  
    h1{
        font-size: 6vw;
    }

    /* & .imgWrapper{
        padding: 30px;
    } */
}

.grid{
    width:100%;
    background-color: #e0b1ef;
    padding: 1em;
    left:0%;
    position: relative;
}
